.page {
  background-color: #000;
}

.form-container {
  position: absolute;
  top: 162px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 600px) {
  .form-container {
    top: 116px;
  }
}
